<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Roulette</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='initial.css')  }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='roulette.png') }}" type="image/x-icon">
</head>
<body>
  <nav>
    <div class="nav-left">
      <h1>GAMBLING4EVER</h1>

    </div>
    <div class="nav-mid">
      <h1>{{ game.game_name }}</h1>
    </div>
    <div class="nav-right">
        <a class="button-register" href="{{ url_for ('games') }}">Regresar</a>

    </div>
  </nav>

  <div class="block-ruleta">
     <canvas id="canvas" width="500" height="500"></canvas>
     <button id="spin">Gira la ruleta!</button>
  </div>
  
  <div id="result"><span id="result-text">-</span></div>

<!-- Interfaz de apuestas -->
<div class="container">
  <!-- opciones de apuesta -->
  <div class="bet-input">
    <label for="betAmount"></label>
    <input type="number" placeholder="Your bet" id="betAmount" value="0">
    <button data-amount="10">+10</button>
    <button data-amount="50">+50</button>
    <button data-amount="100">+100</button>
    <button id="half">1/2</button>
    <button id="double">x2</button>
    <button id="max">Max</button>
    <button id="clear">Reset</button>
  </div>
</div>

  <div class="bet-options">
    <!-- Rojo -->
    <button class="bet-card red" data-bet="rojo">
      <div class="title">ROJO</div>
      <div class="profit">Ganancia potencial: $0.00</div>
      <div class="players">Jugadores: 0</div>
    </button>
  
    <!-- Verde -->
    <button class="bet-card green" data-bet="verde">
      <div class="title">VERDE</div>
      <div class="profit">Ganancia potencial: $0.00</div>
      <div class="players">Players: 3</div>
    </button>
  
    <!-- Negro -->
    <button class="bet-card gray" data-bet="negro">
      <div class="title">NEGRO</div>
      <div class="profit">Ganancia potencial: $0.00</div>
      <div class="players">Players: 0</div>
    </button>
  </div>
  
  <!-- Modal de confirmación de apuesta -->
  <div id="betConfirmationModal" class="modal">
    <div class="modal-content">
      <h2>Confirme su apuesta</h2>
      <p id="modalMessage">Esta seguro que quiere apostar al <span id="betColor"></span>?</p>
      <div class="modal-buttons">
        <button id="confirmBet" class="modal-button confirm">Confirmar</button>
        <button id="cancelBet" class="modal-button cancel">Cancelar</button>
      </div>
    </div>
  </div>
    
    
  </div>
  
  <script src="{{  url_for('ruletaScript', id = game.game_id)  }}"></script>
  <script src="{{  url_for('static', filename = 'apuestas.js' )  }}"></script>
</body>
</html>