<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruleta</title>
    <link rel="stylesheet" href="initial.css">
</head>
<body>
  <nav>
    <div class="nav-left">
      <h1>GAMBLING4EVER</h1>
      <a href="#">Afiliados</a>
      <a href="#">Blog</a>
    </div>
    <div class="nav-mid">
      <h1>Roulette</h1>
    </div>
    <div class="nav-right">
      <button class="button-sign">Iniciar Sesion</button>
      <button class="button-register">Registrarse</button>
    </div>
  </nav>

  <div class="block-ruleta">
     <canvas id="canvas" width="500" height="500"></canvas>
     <button id="spin">Gira la Ruleta!</button>
  </div>
  
  <div id="result"><span id="result-text">-</span></div>

<!-- Interfaz de apuestas -->
<div class="container">
  <!-- opciones de apuesta -->
  <div class="bet-input">
    <label for="betAmount"></label>
    <input type="number" placeholder="Your bet" id="betAmount" value="0">
    <button data-amount="10">+10</button>
    <button data-amount="50">+50</button>
    <button data-amount="100">+100</button>
    <button id="half">1/2</button>
    <button id="double">x2</button>
    <button id="max">Max</button>
    <button id="clear">Reset</button>
  </div>
</div>

  <div class="bet-options">
    <!-- Rojo -->
    <button class="bet-card red" data-bet="red">
      <div class="title">ROJO</div>
      <div class="profit">Ganancia potencial: $0.00</div>
      <div class="players">Jugadores: 0</div>
    </button>
  
    <!-- Verde -->
    <button class="bet-card green" data-bet="green">
      <div class="title">VERDE</div>
      <div class="profit">Potential Profit: $0.00</div>
      <div class="players">Players: 3</div>
    </button>
  
    <!-- Negro -->
    <button class="bet-card gray" data-bet="black">
      <div class="title">NEGRO</div>
      <div class="profit">Ganancia potencial: $0.00</div>
      <div class="players">Jugadores: 0</div>
    </button>
  </div>
  
  <!-- Modal de confirmación de apuesta -->
  <div id="betConfirmationModal" class="modal">
    <div class="modal-content">
      <h2>Confirme su apuesta</h2>
      <p id="modalMessage">Esta seguro que quiere apostar al <span id="betColor"></span>?</p>
      <div class="modal-buttons">
        <button id="confirmBet" class="modal-button confirm">Confirmar</button>
        <button id="cancelBet" class="modal-button cancel">Cancelar</button>
      </div>
    </div>
  </div>
    
    
  </div>
  <script src="js\ruletas.js"></script>
  <script src="js\botones.js"></script>
  <script src="js\apuestas.js"></script>
</body>
</html>